# .streamlit/secrets.toml.example
# Copia este archivo a .streamlit/secrets.toml y rellena con tus credenciales

[gcp_service_account]
# Los valores a continuación son un ejemplo de cómo debe lucir tu archivo JSON de credenciales
type = "service_account"
project_id = "tu-proyecto-id"
private_key_id = "abc123..."
private_key = "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
client_email = "tu-servicio@tu-proyecto.iam.gserviceaccount.com"
client_id = "123456789"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "https://www.googleapis.com/robot/v1/metadata/x509/tu-servicio%40tu-proyecto.iam.gserviceaccount.com"

# También puedes añadir otras configuraciones secretas aquí
[drive_urls]
inventory = "https://docs.google.com/spreadsheets/d/1Jt7ErfTB5BHKG6H5XFWW-FACaqsiQBLd/edit?usp=sharing&ouid=108358405466089911607&rtpof=true&sd=true"
requirements = "https://drive.google.com/file/d/1TxKmxwy8QnUnTQTee77LgyooR_Fq1AGu/view?usp=drive_link"
